$main-background-color: white
$blue-color: #205CF5
$created-color: #219653
$updated-color: #F7B202
$deleted-color: #DB2156
$get-color: $blue-color
$post-color: #27AE60
$delete-color: $deleted-color
$color-dark: #0C0B1A
$color-method-border: #8F9BB2
:export
    mainBackgroundColor: $main-background-color
    blueColor: $blue-color
    createdColor: $created-color
    updatedColor: $updated-color
    deletedColor: $deleted-color
    getColor: $blue-color
    postColor: $post-color
    deleteColor: $delete-color
